    <footer>
        <div class="container">
            <div class="pull-left">
                <p>
                    {% if directoryCopyright is defined and directoryCopyright !="" %}
                        &copy; {{ directoryCopyright }}<br/>
                    {% endif %}
                    <a href="{{ path('about') }}">About</a> |
                    <a href="mailto:{{ directoryContactEmail }}">Contact</a>

                    {% if registrationSetting == 'none' %}
                     |
                    <a href="{{ path('sonata_admin_dashboard') }}">Admin</a>
                    {% endif %}
                </p>   
            </div>
            <div style="clear: both;">&nbsp;</div>                    
        </div>
    </footer>