    <div class="header">
        {% if directoryLogo is defined and directoryLogo != "" %}
            <a href="{{ path('home') }}">
                <img class="logo" src="{{ asset(directoryLogo) }}" />
            </a>
        {% endif %}
        <h2>{{ directoryTitle }}</h2>
        <div style="clear: both; line-height: 0px;">&nbsp;</div>
    </div>