{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block logo %}
    {{ parent() }}
    <ul class="nav">
        <li>
            <a href="{{ url('home') }}">
                View Site
            </a>
        </li>
        <li>
            <p class="navbar-text"><i>Close your browser to log out</i></p>
        </li>
    </ul>
{% endblock %}