{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block logo %}
    {{ parent() }}
    <ul class="nav">
        <li>
            <a href="{{ url('home') }}">
                View Site
            </a>
        </li>
    </ul>
{% endblock %}