<?php

namespace My\Bundle\Entity;

use Doctrine\ORM\Mapping as ORM;
use Symfony\Component\Validator\Constraints as Assert;

/**
 * LocationDistance
 *
 * @ORM\Table()
 * @ORM\Entity()
 */
class LocationDistance
{
    /**
     * @var integer
     *
     * @ORM\Column(name="id", type="integer")
     * @ORM\Id
     * @ORM\GeneratedValue(strategy="AUTO")
     */
    private $id;   
    
   /**
    * @var string $distance
    *
    * @ORM\Column(name="distance", type="integer")
    */    
    private $distance;
    
    /** @ORM\ManyToOne(targetEntity="ListingLocation", inversedBy="distances") */
    protected $listingLocation;
    /** @ORM\ManyToOne(targetEntity="UserLocation", inversedBy="distances") */
    protected $userLocation;    
}