<?php

namespace My\Bundle\Entity;

use Doctrine\ORM\Mapping as ORM;
use Symfony\Component\Validator\Constraints as Assert;

use CCETC\DirectoryBundle\Entity\BaseProduct;

/**
 * Product
 *
 * @ORM\Table()
 * @ORM\Entity()
 */
class Product extends BaseProduct
{
    /**
     * @ORM\ManyToMany(targetEntity="Listing", mappedBy="products")
     */    
    private $listings;
    
}