.header {
    padding: 10px 15px;
}
.header img.logo {
    float: left;
}
.header h2 {
    float: left;
    line-height: 68px;
    margin-left: 10px;
}

.frontend-admin-menu {
    margin-top: -10px;
    font-size: 12px;
    margin-bottom: 0px;
    float: right;
    list-style: none;
}
.frontend-admin-menu li {
    float: left;
    margin-left: 20px;
}