{% extends layoutTemplate %}

{% block page_header %}
    <h1>About</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
           All about the directory!
        </div>
    </div>    
{% endblock %}