    <h3>Search</h3>
    <div class="filters-container">
        <form action="{{ url('listings') }}" method="GET">
            {% if listingAdmin.datagrid.hasActiveFilters %}
                <div>
                    {% for filter in listingAdmin.datagrid.filters if filter.isActive %}
                        {% include 'CCETCDirectoryBundle:Directory:_filter.html.twig' %}
                    {% endfor %}
                    <div style="clear: both; line-height: 0px;">&nbsp;</div>
                </div>
            {% else %}
                <div>
                    {% for filter in listingAdmin.datagrid.filters if filter.options.isBasic is defined and filter.options.isBasic %}
                        {% include 'CCETCDirectoryBundle:Directory:_filter.html.twig' %}
                    {% endfor %} 
                    <div style="clear: both; line-height: 0px;">&nbsp;</div>
                </div>
            {% endif %}
            <br/>
            <div class="more-filters-container" style="display: none;">
                <h4>Advanced Search</h4>

                {% for filter in listingAdmin.datagrid.filters
                    if (listingAdmin.datagrid.hasActiveFilters and not filter.isActive)
                    or
                    (not listingAdmin.datagrid.hasActiveFilters and (filter.options.isBasic is not defined or not filter.options.isBasic)) %}
                        {% include 'CCETCDirectoryBundle:Directory:_filter.html.twig' %}
                {% endfor %} 
                <div style="clear: both; line-height: 0px;">&nbsp;</div>
            </div>

            <input type="hidden" name="filter[_page]" id="filter__page" value="1" />

            {% set foo = form.children['_page'].setRendered() %}
            {{ form_rest(form) }}

            <div style="clear: both; line-height: 0px;">&nbsp;</div>

            <br/>
            <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Go</button>
            {% if listingAdmin.datagrid.hasActiveFilters %}<a class="btn btn-link" href="{{ url('listings', {filters: 'reset'}) }}"><i class="icon-trash"></i>  Remove All</a>{% endif %}
            <a class="btn less-filters-btn btn-link" style="display: none;" href="#"><i class="icon-remove"></i> Cancel</a>
            <a class="btn more-filters-btn btn-link" href="#"><i class="icon-cog"></i> Advanced Search</a>
        </form>
    </div>
