    <div class="filter">
        <div class="filter-title">{{ listingAdmin.trans(filter.label) }}</div>
        <div class="filter-type" style="{{ filter.options.hideValue is defined and filter.options.hideValue ? 'display: none;' : '' }}">
            {% if filter.name is defined and filter.name == 'location' %}
                Within
            {% endif %}
            {{ form_widget(form.children[filter.formName].children['type']) }}
        </div>
        <div class="filter-value">
            {% if filter.name is defined and filter.name == 'location' %}
                miles of
            {% endif %}
            {{ form_widget(form.children[filter.formName].children['value']) }}
        </div>
            {% if filter.isActive %}
                <div class="btn-group">
                    <button type="submit" class="btn btn-small"><i class="icon-refresh icon-whit"></i> Update</button>
                    {% set key = 'filter[' ~ filter.name ~ '][value]' %}
                    {# filter-remove has js to clear the value and then submit #}
                    <button type="submit" class="filter-remove btn btn-small btn-danger"><i class="icon-remove icon-white"></i> Clear</button>
                </div>
            {% endif %}
        <div style="clear: both; line-height: 0px;">&nbsp;</div>
    </div>