<div class="listing-block-container {{ linkBlock? 'block-link' : '' }}">
    
    {% if listing.status == "edited" and not listing.isOwnedByUser(app.user) and not is_granted('ROLE_ADMIN') %}
        {{ listing.savedListingBlockContentHtml|raw }}
    {% else %}
    	{% include listingBlockContentTemplate %}
	{% endif %}
        
    <br/>    
        
    <div class="btn-group pull-right">
        {% if is_granted("ROLE_ADMIN") %}
            <a class="btn edit-btn" href="{{ listingAdmin.generateObjectUrl('edit', listing) }}" ><i class="icon-pencil"></i> Edit</a> 
        {% endif %}
        {% if linkBlock %}<a class="btn view-btn" href="{{ path(listingType.profileRouteName, {'id' : listing.id }) }}" ><i class="icon-search"></i> View</a>{% endif %}
    </div>
    <div style="clear: both; line-height: 0;">&nbsp;</div>    
</div>