<div class="listings-info-window-container">
    <h4>{{ listing.name }}</h4>
    {% if listing.address is defined and listing.address != "" %}{{ listing.address }},{% endif %} {{ listing.city }} {{ listing.state }}<br/><br/>
</div>