{% extends layoutTemplate %}

{% block page_header %}
    {{ listing.name }}
    <div class="page-btns btn-group">
        <a class="btn" href="javascript:if(window.print)window.print()" ><i class="icon-print"></i> Print</a> 
        {% if is_granted("ROLE_ADMIN") %}
            <a class="btn" href="{{ listingAdmin.generateObjectUrl('edit', listing) }}" ><i class="icon-pencil"></i> Edit</a> 
        {% endif %}
    </div>
{% endblock %}

{% block content %}
        
    {% if listing.location.lat is defined and listing.location.lat != "" and listing.location.lng is defined and listing.location.lng != "" %}
        <script type="text/javascript">
            {% include 'CCETCDirectoryBundle:Directory:_profile_marker_object.js.twig' %}
                
            $(document).ready(function() {
                profileMapInit();
            });
        </script>
    {% endif %}

    <div class="row">
        <div class="span7">
            <div class="profile-meta">
                {% include 'CCETCDirectoryBundle:Directory:_listing_product_labels.html.twig' %}
                {% include 'CCETCDirectoryBundle:Directory:_listing_attribute_labels.html.twig' %}
            </div>
            {% if listing.webPath is defined and listing.webPath != "" %}
                <p>
                    <img src="{{ asset(listing.webPath) }}" />
                </p>
            {% endif %}
            <p class="well">
                {{ listing.description? listing.description|nl2br : 'No Description Available' }}
            </p>
            
        </div>       
        <div class="span5">
            {% if listing.location.lat is defined and listing.location.lat != "" and listing.location.lng is defined and listing.location.lng != "" %}
                <div id="map-canvas" class="profile-map"></div>
            {% endif %}

            <div class="well">
                <h4><i class="icon-map-marker"></i> Location</h4>
                {% include 'CCETCDirectoryBundle:Directory:_listing_address.html.twig' %}
            </div>
            <div class="well">
                <h4><i class="icon-envelope"></i> Contact</h4>
                {% include 'CCETCDirectoryBundle:Directory:_listing_contact.html.twig' %}    
            </div>
        </div>
    </div>
{% endblock %}